<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
      <welcome-file>/welcome.jsp</welcome-file>
    </welcome-file-list>

  <filter>
    <filter-name>UTF8Filter</filter-name>
    <filter-class>frameworks.UTF8Filter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--Error /-->
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <!--Error/-->

  <!--BrowseUser /-->
  <servlet>
    <servlet-name>BrowseUsersServlet</servlet-name>
    <jsp-file>/browseusers.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>BrowseUsersServlet</servlet-name>
    <url-pattern>/browseusers</url-pattern>
  </servlet-mapping>
  <!--User /-->

  <!--BrowseRooms /-->
  <servlet>
    <servlet-name>BrowseChatRoomsServlet</servlet-name>
    <jsp-file>/browsechatrooms.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>BrowseChatRoomsServlet</servlet-name>
    <url-pattern>/browsechatrooms</url-pattern>
  </servlet-mapping>
  <!--User /-->

  <!--User /-->
    <servlet>
      <servlet-name>UserServlet</servlet-name>
      <jsp-file>/user.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>UserServlet</servlet-name>
      <url-pattern>/user</url-pattern>
    </servlet-mapping>
  <!--User /-->

  <!--ChatRoom /-->
    <servlet>
      <servlet-name>ChatRoomServlet</servlet-name>
      <jsp-file>/chatroom.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>ChatRoomServlet</servlet-name>
      <url-pattern>/chatroom</url-pattern>
    </servlet-mapping>
  <!--ChatRoom /-->

  <!--chat /-->
    <servlet>
      <servlet-name>ChatServlet</servlet-name>
      <jsp-file>/chat.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>ChatServlet</servlet-name>
      <url-pattern>/chat</url-pattern>
    </servlet-mapping>
  <!--chat /-->

  <!--chat /-->
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <jsp-file>/message.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <!--chat /-->

  <!-- Welcome /-->
    <servlet>
      <servlet-name>WelcomeServlet</servlet-name>
      <jsp-file>/welcome.jsp</jsp-file>
      <servlet-class>controller.WelcomeServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>WelcomeServlet</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>
  <!-- Welcome /-->

  <listener>
    <listener-class>frameworks.ContextListener</listener-class>
  </listener>

</web-app>
